  .card_wrapper{
    padding: 20px;
  }

  .f6 {
    font-size: 12px!important;
  }

  .card_wrapper a ,.card_wrapper a:hover {
    text-decoration: none;
  }

  .card_meta_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card_meta_right_wrapper ul {
    list-style-type: none;
    padding-inline-start: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px !important;
}

.card_meta_right_wrapper ul li{
    margin-right: 16px !important;
}

.card_meta_right_wrapper ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
}


.card_meta_left_wrapper {
    display: flex;
    flex-direction: row;
}

img.user_img {
    margin-right: 10px;
    margin-top: 2px;
    border-radius: 100%;
}

.txt-gray {
    color: #586069;
}

.card_meta_right_wrapper svg{
  fill: #586069;
}

.card_meta_right_wrapper ul li:hover svg,.card_meta_right_wrapper ul li:hover a{
  fill: #0366d6 !important;
}

a.undr_link {
  padding-right: 5px;
}

.card_meta_left_wrapper .diffDate {
  margin: 0px;
}

a.undr_link:hover {
  text-decoration: underline;
}

.card_meta_right_wrapper svg {
    margin-right: 5px;
}

.card-file-wrapper {
    position: relative;
    margin: 10px 0px;
}

.file-wrapper {
    position: relative;
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: var(--color-gist-editor-bg);
    border: 1px solid var(--color-border-primary,#ddd);
    border-radius: 6px;
    overflow: hidden !important;
    font-size: 13px;
}

.file-table-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
}

.card-file-wrapper table{
    width: 100%;
}

.card-file-wrapper:hover .file-link{
    display: block;
}

.card-file-wrapper:hover .file-wrapper{
    border-color: #0366d6 !important;
}

.card-file-wrapper table tr td {
    padding: 0px 10px;
}

.card-file-wrapper table tr td:first-child {
    width: 1%;
    min-width: 30px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
    line-height: 20px;
    text-align: right;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.file-link {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    padding: 2px 8px;
    font-size: 12px;
    color: #fff;
    background-color: #0366d6;
    border-top-right-radius: 6px;
}

.file-table-wrapper pre {
  padding: 10px 35px;
}

pre div.code_con {
  height: 250px;
  overflow: hidden;
}

.no-data-found {
  height: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 35px;
}

pre {
    background-color: #ffffff !important;
    border: none !important;
    border-radius: 0px !important;
}


